@use 'styles/mixins' as *;

.notification {
    @include flex(row, center, center);
    max-width: 300px;
    border-radius: 0.5rem;
    > span {
        margin: 0 1rem;
        @include col('gray-d');
        text-align: justify;
        flex-wrap: nowrap;
    }

    button {
        border: none;
        background-color: transparent;
        color: white;
        padding: 1rem;
        cursor: pointer;
        font-weight: 600;
    }
}

.warning {
    background-color: #ff9966;
}
