.skeleton {
    background-color: #f2f2f2;
    border-radius: 4px;
    height: 100%;
    width: 100%;

    &.skeleton--small {
        height: 1rem;
        width: 5rem;
    }

    &.skeleton--medium {
        height: 2rem;
        width: 10rem;
    }

    &.skeleton--large {
        height: 3rem;
        width: 15rem;
    }
    animation: pulse 1.5s infinite;
}
