@use 'styles/mixins' as *;

.root {
    @include flex(column);
    margin: 0 0 1rem 0;
    border: 1px solid black;
    width: 100%;
}

.titleContainer {
    @include flex(row, flex-start);
    background-color: bg('gray-m');
    width: 100%;
    margin: auto;
}
