@use 'styles/mixins' as *;
@use 'styles/variables' as *;


.footer {
    @include bg('yellow');
    height: $footer-height;
    display: grid;
    place-items: center;
}

.container {
    @include container();
}