@use 'styles/mixins' as *;

.container {
    @include flex(row);
    width: 100%;
    padding: 2rem;
}

.imageContainer {
    @include flex(row, flex-start, center);
    flex: 1;
}

.textContainer {
    @include flex(row, space-between, flex-end);
    flex: 10;
    margin-left: 2rem;
}
