@use 'styles/mixins' as *;
@use 'styles/variables' as *;

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    //define 1 rem = 16px
    font-size: 62.5%;
}

body {
    @include bg('gray-l');
    box-sizing: border-box;
    font-family: apple-system, Helvetica, Roboto, Arial, sans-serif;
    font-display: optional;
    font-size: 1.6rem;
}
