$light-yellow: #fff159;

$grey: #333;

$light-grey: #eee;
$light-grey: #ededed;

$dark-blue: #1f4e96;
$medium-blue: #3483fa;
$light-blue: rgba(65, 137, 230, 0.15);

$white: #fff;
$black: #000;

$font: 'Roboto', sans-serif; ;
